PORT=3000
MONGODB_URI=mongodb://USERNAME:PASSWORD@HOST1:27017,HOST2:27017,HOST3:27017/webbshop-2026-be?ssl=true&replicaSet=REPLICA_SET_NAME&authSource=admin&appName=Cluster0

JWT_SECRET=replace-with-a-long-random-secret

JWT_REFRESH_SECRET=replace-with-another-long-random-secret
